*{outline: none;}
body{background-color: #EAEAEA}
a{text-decoration: none}
a:hover,a:active{text-decoration: none}
.text-white{color: #ffffff}
.text-weight-300{font-weight: 300}
.text-theme-color{color: #A2A2A2}
.text-pr-theme-color{color: #737070}
.link-dark{color: #777777}
.btn-round{border-radius: 50px;padding-left: 40px;padding-right: 40px;}
.btn-round-sm{border-radius: 50%; padding: 5px 7px;}
.dotted-bar{border-bottom: 2px dashed #777}
.form-control-mat{border: none;border-radius: 0;border-bottom: 2px solid #777}
.blue-lagoon-border{border: 2px solid #1C57CD;position: relative;}
.blue-lagoon-title{
    border-bottom: 3px solid #fff;
    font-size: 20px;
    font-weight: bold;
    left: 30px;
    padding: 5px 14px;
    position: absolute;
    top: -32px;
}
.blue-lagoon-remove{
    left: 0;
    position: absolute;
    text-align: center;
    top: -50px;
    width: 100%;
}
.error-info{
    font-size: 20px;
    position: absolute;
    right: -30px;
    text-align: center;
    top: 35%;
    z-index: 11;
}
.msgErr{
    background: #ff2a5f none repeat scroll 0 0;
    border-radius: 4px;
    bottom: 30px;
    font-size: 14px;
    left: 22px;
    padding: 5px 10px;
    position: absolute;
    text-align: left;
    width: 200px;
}
.msgErr::before{
    border-bottom: 15px solid #ff2a5f;
    border-left: 11px solid transparent;
    bottom: -8px;
    content: "";
    left: -2px;
    position: absolute;
    transform: rotate(200deg);
}
.msgErr .title{
    color: #ffffff;
    font-weight: bold;
}
.msgErr .details a{
    color: #e9e9e9;
    text-decoration: underline;
}
.cardMargin{
    margin-top: 60px;
}
.invalidEmail{
    border: 2px solid #ff2a5f;
}
.input-group-prepend-mat{
    background: transparent none repeat scroll 0 0;
    border: medium none;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
}
.input-group-prepend-mat{
    .input-group-text{
        background: transparent none repeat scroll 0 0;
        border: medium none;
    }
}