<template>
    <div>
        <topNav></topNav>
        <div class="container">
            <form  v-on:submit.prevent="checkout">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <br><br><br>
                        <h1 class="text-center text-weight-300 text-theme-color">Lorem Ipsum</h1>
                        <br>
                        <p class="text-center text-pr-theme-color">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet fermentum purus. Vivamus et convallis quam. Suspendisse sit amet efficitur ipsum. Aenean eget tortor posuere, convallis nisi et, consectetur sem.
                            Vivamus et convallis quam. Suspendisse sit amet efficitur ipsum. Aenean eget tortor posuere, convallis nisi et, consectetur sem.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <br><br><br>
                        <div :class="{card: true,cardMargin: index > 0 ? true : false, 'blue-lagoon-border': index == 0 ? true : false}"
                             v-for="(card,index) in cards">
                            <div class="blue-lagoon-title" v-if="card.name != ''" v-text="card.name"></div>
                            <div class="blue-lagoon-remove" v-if="index > 0">
                                <a href="javascript:void(0)" @click="removeThiscard(index)"><span
                                        class="btn btn-danger btn-round-sm"><i class="fa fa-minus fa-fw"></i></span>
                                    <strong class="text-pr-theme-color">DELETE</strong></a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Your name and surname</label>
                                                <md-input required name="name" v-model="card.name"></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Credit Card Number</label>
                                                <md-input required name="cardNo" v-model="card.cardNo"></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <md-field>
                                                <label>DD/YY</label>
                                                <md-input required name="cardNo" v-model="card.dateTime"></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <md-field>
                                                <label>CVV</label>
                                                <md-input required name="cvv" v-model="card.cvv"></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Amount</label>
                                                <md-input required v-model="card.amount"></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <a href="javascript:void(0)" @click="addnewCard"><span class="btn btn-success btn-round-sm"><i
                                    class="fa fa-plus fa-fw"></i></span> <strong
                                    class="text-pr-theme-color">ADD NEW</strong></a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <br><br><br>
                        <h3 class="text-center link-dark"><strong>Type Here the emails to send the invitation</strong>
                        </h3>
                        <br>
                        <p class="text-center text-pr-theme-color">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet fermentum purus. Vivamus et convallis quam. Suspendisse sit amet efficitur ipsum. Aenean eget tortor posuere, convallis nisi et, consectetur sem.
                            Vivamus et convallis quam. Suspendisse sit amet efficitur ipsum. Aenean eget tortor posuere, convallis nisi et, consectetur sem.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <br><br><br>
                        <div :class="{card: true,cardMargin: index > 0 ? true : false, invalidEmail : checkValidEmail(card.email) == true ? false : true}"
                             v-for="(card,index) in invitation">
                            <div class="blue-lagoon-remove" v-if="index > 0">
                                <a href="javascript:void(0)" @click="removeThisInv(index)"><span
                                        class="btn btn-danger btn-round-sm"><i class="fa fa-minus fa-fw"></i></span>
                                    <strong class="text-pr-theme-color">DELETE</strong></a>
                            </div>
                            <div class="error-info" v-if="checkValidEmail(card.email) == false">
                                <a href="javascript:void(0)"><i class="fa fa-info-circle text-danger"></i></a>
                                <div class="msgErr">
                                    <div class="title">Email not valid</div>
                                    <div class="details">
                                        <a href="javascript:void(0)"> Click here to know more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Email Address</label>
                                                <md-input v-model="card.email" type="email" required></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Amount</label>
                                                <md-input required v-model="card.amount"></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <a href="javascript:void(0)" @click="addNewinv"><span
                                    class="btn btn-success btn-round-sm"><i class="fa fa-plus fa-fw"></i></span> <strong
                                    class="text-pr-theme-color">ADD NEW</strong></a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <br><br><br>
                        <button type="submit" class="btn btn-lg btn-warning btn-round text-white">
                            <strong>Proceed</strong></button>
                    </div>
                </div>
            </form>
        </div>
        <footerNav></footerNav>
    </div>
</template>

<script>
    import topNav from './global/topNav';
    import footerNav from './global/footer';

    export default {
        name: 'app',
        data() {
            return {
                core: core,
                auth: {email: ''},
                cards: [
                    {
                        name: '',
                        cardNo: '',
                        dateTime: '',
                        cvv: '',
                        amount: 0,
                    }
                ],
                invitation: [
                    {
                        email: '',
                        amount: 0,
                    }
                ]
            }
        },
        components: {topNav, footerNav},
        methods: {
            addnewCard: function () {
                this.cards.push(
                    {
                        name: '',
                        cardNo: '',
                        dateTime: '',
                        cvv: '',
                        amount: 0,
                    }
                );
            },
            removeThiscard: function (index) {
                this.cards.splice(index, 1);
            },
            addNewinv: function () {
                this.invitation.push(
                    {
                        email: '',
                        amount: 0,
                    }
                );
            },
            removeThisInv: function (index) {
                this.invitation.splice(index, 1);
            },
            checkout: function () {
                localStorage.cards = JSON.stringify(this.cards);
                localStorage.invitation = JSON.stringify(this.invitation);
                this.$router.push('/payment/checkpoint');
            },
            checkValidEmail: function(email){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            }
        },
        created() {
            if (localStorage.email !== undefined) {
                this.auth.email = localStorage.email;
                this.auth.email = localStorage.email;
                if (localStorage.cards !== undefined) {
                    this.cards = JSON.parse(localStorage.cards);
                }
                if (localStorage.invitation !== undefined) {
                    this.invitation = JSON.parse(localStorage.invitation);
                }
            } else {
                this.$router.push('/');
            }
        },
        mounted() {
            window.scrollTo(0, 0);
        }
    }
</script>
