<template>
    <div>
        <topNav></topNav>
        <div class="container">
            <form  v-on:submit.prevent="checkout">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <br><br><br>
                        <h1 class="text-center text-weight-300 text-theme-color">Summary</h1>
                        <h5 class="text-center link-dark"><strong>ID Ordine : 123456</strong></h5>
                        <br>
                        <p class="text-center text-pr-theme-color">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet fermentum purus. Vivamus et convallis quam. Suspendisse sit amet efficitur ipsum. Aenean eget tortor posuere, convallis nisi et, consectetur sem.
                            Vivamus et convallis quam. Suspendisse sit amet efficitur ipsum. Aenean eget tortor posuere, convallis nisi et, consectetur sem.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <br><br><br>
                        <div :class="{card: true,cardMargin: index > 0 ? true : false, 'blue-lagoon-border': index == 0 ? true : false}" v-for="(card,index) in cards">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group text-center">
                                            <img src="http://mypinterventures.com/wp-content/uploads/2014/08/RoundProfilePic_zps5c4af539.png" width="40px" v-if="auth.email != ''" alt="" class="rounded-circle">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Your name and surname</label>
                                                <md-input v-model="card.name" type="text" required></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Credit Card Number</label>
                                                <md-input v-model="card.cardNo" type="tel" required></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Amount</label>
                                                <md-input required v-model="card.amount"></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <br><br><br>
                        <h3 class="text-left link-dark">Invitation Sent</h3>
                        <br>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div :class="{card: true,cardMargin: index > 0 ? true : false}" v-for="(card,index) in invitation">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Email Address</label>
                                                <md-input v-model="card.email" type="text" required></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Amount</label>
                                                <md-input  required v-model="card.amount"></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row justify-content-center">
                    <div class="col-md-4 text-left">
                        <button type="button" class="btn btn-lg btn-dark btn-round text-white" @click="$router.push('/card/details')"><strong>Back</strong></button>
                    </div>
                    <div class="col-md-4 text-right">
                        <button type="submit" class="btn btn-lg btn-warning btn-round text-white" @click="checkout"><strong>Proceed</strong></button>
                    </div>
                </div>
            </form>
        </div>
        <footerNav></footerNav>
    </div>
</template>

<script>
    import topNav from './global/topNav';
    import footerNav from './global/footer';

    export default {
        name: 'app',
        data() {
            return {
                core: core,
                auth: {email : ''},
                cards : [
                    {
                        name : '',
                        cardNo : '',
                        dateTime : '',
                        cvv : '',
                        amount : 0,
                    }
                ],
                invitation : [
                    {
                        email : '',
                        amount : 0,
                    }
                ]
            }
        },
        components: {topNav, footerNav},
        methods: {
            addnewCard: function () {
                this.cards.push(
                    {
                        name : '',
                        cardNo : '',
                        dateTime : '',
                        cvv : '',
                        amount : 0,
                    }
                );
            },
            removeThiscard: function(index){
                this.cards.splice(index, 1);
            },
            addNewinv: function () {
                this.invitation.push(
                    {
                        email : '',
                        amount : 0,
                    }
                );
            },
            removeThisInv: function(index){
                this.invitation.splice(index, 1);
            },
            checkout: function(){
                localStorage.cards = JSON.stringify(this.cards);
                localStorage.invitation = JSON.stringify(this.invitation);
                this.$router.push('/payment/monitor');
            }
        },
        created() {
            if(localStorage.email !== undefined){
                this.auth.email = localStorage.email;
                if(localStorage.cards !== undefined){
                    this.cards = JSON.parse(localStorage.cards);
                } else {
                    this.$router.push('/card/details');
                }
                if(localStorage.invitation !== undefined){
                    this.invitation = JSON.parse(localStorage.invitation);
                } else {
                    this.$router.push('/card/details');
                }
            } else {
                this.$router.push('/');
            }
        },
        mounted() {
            window.scrollTo(0, 0);
        }
    }
</script>
