<template>
    <div>
        <topNav></topNav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <br><br><br>
                    <h1 class="text-center text-weight-300 text-theme-color">Lorem Ipsum</h1>
                    <br>
                    <p class="text-center text-pr-theme-color">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet fermentum purus. Vivamus et convallis quam. Suspendisse sit amet efficitur ipsum. Aenean eget tortor posuere, convallis nisi et, consectetur sem.
                        Vivamus et convallis quam. Suspendisse sit amet efficitur ipsum. Aenean eget tortor posuere, convallis nisi et, consectetur sem.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <br><br><br>
                    <form v-on:submit.prevent="addEmail">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="email" v-model="email" required class="form-control form-control-lg"
                                           placeholder="Type here your email address">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-warning btn-round text-white"><strong>Proceed</strong></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <br><br><br>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="https://mypinterventures.com/wp-content/uploads/2014/08/RoundProfilePic_zps5c4af539.png" width="100px" alt="" class="rounded-circle">
                            <img src="https://mypinterventures.com/wp-content/uploads/2014/08/RoundProfilePic_zps5c4af539.png" width="100px" alt="" class="rounded-circle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footerNav></footerNav>
    </div>
</template>

<script>
    import topNav from './global/topNav';
    import footerNav from './global/footer';
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                email : ''
            }
        },
        methods : {
            addEmail: function () {
                localStorage.email = this.email;
                this.$router.push('/card/details');
            }
        },
        components: {topNav,footerNav},
        created(){
            localStorage.clear();
        },
        mounted(){
            window.scrollTo(0, 0);
        }
    }
</script>
