<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<script>

    export default {
        name: 'app',
        data() {
            return {}
        }
    }
</script>
<style>
    @import '~bootstrap/dist/css/bootstrap.css';
    @import '~bootstrap-vue/dist/bootstrap-vue.css';
    @import './assets/css/helper.css';
    @import '~vue-material/dist/vue-material.min.css';
    /*@import '~vue-material/dist/theme/default.css';*/
    /*@import '~vue-material/dist/theme/default-dark.css';*/
    @import '~vue-material/dist/theme/black-green-light.css';
</style>
