<template>
    <div>
        <br><br><br><br><br>
        <div class="card">
            <div class="card-body">
                <a href="#" class="link-dark"><i class="fa fa-search fa-fw"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="#" class="link-dark"><strong>Help and Contact</strong></a>&nbsp;&nbsp;&nbsp;
                <a href="#" class="link-dark"><strong>Security</strong></a>&nbsp;&nbsp;&nbsp;
                <a href="#" class="link-dark"><strong>Tax</strong></a>&nbsp;&nbsp;&nbsp;
            </div>
            <div class="container-fluid"><div class="dotted-bar"></div></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="link-dark">About us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="link-dark">Work with us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="link-dark">Developers</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="link-dark">Contacts</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#" class="link-dark">&copy; 2018</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="link-dark">Legal Terms</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="link-dark">Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="link-dark">Feedback</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'app',
        data () {
            return {
            }
        },
        created(){
        },
        methods: {
        }
    }
</script>
