<template>
    <div>
        <nav class="navbar navbar-dark" style="background-color: #7F3F98;">
            <div class="container-fluid">
                <router-link class="navbar-brand" to="/">
                    <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                </router-link>
                <div class="pull-right text-right">
                    <strong class="text-white" v-if="auth.email == ''">Login / Signup</strong>
                    <img src="https://mypinterventures.com/wp-content/uploads/2014/08/RoundProfilePic_zps5c4af539.png" width="40px" v-if="auth.email != ''" alt="" class="rounded-circle">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn btn-light btn-round" v-if="auth.email != ''" @click="logout">Exit</a>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        name: 'app',
        data () {
            return {
                auth : {email : ''}
            }
        },
        created() {
            if(localStorage.email !== undefined){
                this.auth.email = localStorage.email;
            }
        },
        methods: {
            logout: function () {
                delete localStorage.email;
                delete localStorage.cards;
                delete localStorage.invitation;
                this.$router.push('/');
            }
        }
    }
</script>
